numpy
pandas
scikit-learn
imbalanced-learn
matplotlib
seaborn
plotly
kaleido
jupyter
notebook
ipykernel
ipywidgets
pytest
black
flake8
numba
tabulate
torch
torchvision
cupy-cuda12x
numba-cuda[cu12]
mlflow
