numpy
pandas
scikit-learn
imbalanced-learn
matplotlib
seaborn
plotly
gradio>=4.44,<6
kaleido
jupyter
notebook
ipykernel
ipywidgets
pytest
black
flake8
numba
tabulate
torch
torchvision
cupy-cuda12x
numba-cuda[cu12]
mlflow
loguru
transformers
datasets
aiohttp
pillow
